<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PersonelKayit.Properties.Settings.PersonelVeriTabaniConnectionString"
            connectionString="Data Source=FERLATILTAS;Initial Catalog=PersonelVeriTabani;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>